#RSection {
    margin-left: 9%;
}

.Content {
    font-size: 2em;
    color: #009999;
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border: dashed 2px whitesmoke;
}

.BetCont {
    width: 20px;
}

.Content:hover {
    /*border-radius: 100%;*/
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    position: relative;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    border: solid 2px #009999;

}

.ContentBlockName {
    color: whitesmoke;
    height: 100%;
    display: block;
    margin-top: 0%;
}

.ContentBlockName:hover {
    height: 100%;
    display: block;
    margin-top: 0%;
    color: whitesmoke;
}

#ContentBlock1 {
    background-image: url("img/Rols.jpg");
    background-size: cover;
}

#ContentBlock1:hover {
    background-image: url("img/Rols2.jpg");
    cursor: pointer;
    background-size: cover;
}

#ContentBlock2 {
    background-image: url("img/Bike.jpg");
    background-size: cover;
}

#ContentBlock2:hover {
    background-image: url("img/Bike2.jpg");
    cursor: pointer;
    background-size: cover;
}

#ContentBlock3 {
    background-image: url("img/Project.jpg");
    background-size: cover;
}

#ContentBlock3:hover {
    background-image: url("img/Project2.jpg");
    cursor: pointer;
    background-size: cover;
}

#contul {
    text-align: center;
    list-style-type: none;
    width: 100%;
    /*border: solid 2px black;*/
    margin-top: 15%;
}

.contli {

    width: 100%;
}

.contimgli {
    width: 100%;
}

footer {
    border-top: dashed 5px whitesmoke;
    background-color: white;
    width: 100%;
    height: 200px;
    color: #fff;
    position: relative;
}